body {
    font-family: Arial, sans-serif;
    background-image: url('pexels-pixabay-326055.jpg'); /* ضع هنا المسار الخاص بالصورة */
    background-size: cover; /* لتغطية الصفحة بالكامل */
    background-position: center center; /* لوضع الصورة في المنتصف */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.login-form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
}

.input-container {
    margin-bottom: 15px;
}

.input-container label {
    display: block;
    font-weight: bold;
}

.input-container input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #2855a7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2855a7;
}

.result {
    text-align: center;
    margin-top: 20px;
}

.result h3 {
    color: blue;
    font-weight: bold;
}
